#aboutForm {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 400px;
  padding: 1em;
}
#aboutForm, #aboutForm a {
  color: white;
}

.aboutHeader {
  text-align: center;
}

.aboutVersion {
  font-family: monospace;
}

.aboutText {
  font-size: 13pt;
}

.aboutTextLabel {
  font-weight: bold;
}

.aboutText ul {
  padding-left: 1em;
}
.aboutText li {
  margin: 0.3em 0;
}

.aboutBtcBanner {
  text-align: center;
}

.aboutBtcImg {
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.aboutBtcText {
  font-size: small;
  cursor: text;
  opacity: 0.7;
  font-family: "Courier New", Courier, monospace;

  &:hover {
    opacity: 1;
  }
}

.aboutDisclaimer {
  font-size: 9pt;
  opacity: 0.4;
}
