$header-height: 48px;
$sidebar-width: 225px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.body {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #46342f; // #39221C; // Default color before React replaces content.
}

.header {
  height: $header-height;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #B59C95;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

.content {
  height: calc(100% - #{$header-height});
  width: 100%;
  position: absolute;
  left: 0;
  top: $header-height;
}

.sidebar {
  height: 100%;
  width: $sidebar-width;
  max-width: $sidebar-width;
  display: inline-block;
  background-color: #5A4540;
  vertical-align: top;
}

.boardMenu {
  height: 100%;
  overflow: hidden;
}

.properties {
  height: 50%;
  box-sizing: border-box;
  border-top: 1px solid #4A3530;
}

.main {
  height: 100%;
  width: calc(100% - #{$sidebar-width});
  position: relative;
  display: inline-block;
  overflow: auto;
  background-color: #46342f;
}
.main:first-child { // No sidebar
  width: 100%;
}

.mainOverlay {
  height: calc(100%);
  width: calc(100% - #{$sidebar-width});
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &:not(.moving) {
    pointer-events: none;
  }

  > div {
    pointer-events: all;
  }
}

.editor {
  height: 100%;
  width: 100%;
  overflow: auto;
}

canvas:focus {
  outline: none;
}

.editor_bg, .editor_line_canvas, .editor_current_space_canvas, .editor_space_canvas, .editor_menu_overlay {
  position: absolute;
  left: 0;
  top: 0;
}

.editor_bg {
  box-shadow: 0px 0px 30px -8px #000000;
}

.editor_space_canvas:active {
  cursor: default;
}
.eraser .editor_space_canvas {
  cursor: url("../img/editor/eraser.cur"), default;
}

.details {
  display: none;
}

#dragZone {
  display: none;
  position: fixed;
  left: 275px;
  top: 45%;
  height: 150px;
  width: 150px;
  background: url("../img/toolbar/delete.png") no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  border: 10px solid rgba(0, 0, 0, 0.7);
  border-radius: 50px;

  &.hover {
    background-color: rgba(100, 0, 0, 0.4);
    border: 10px solid rgba(100, 0, 0, 0.7);
  }
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.75);
}

.loadingLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -25px;
}

.loadingMsg {
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: 50px;
  width: 80%;
  text-align: center;
}

.loadingMsgTxt, .loadingMsgTxt a {
  font-size: 16pt;
  color: white;
  margin-bottom: 0.5em;
}

.loadingGif {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  margin-top: 50px;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: center left;
  animation-name: swing;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.errorDiv {
  color: white;
  padding: 1em;
  max-width: 100%;

  a {
    color: white;
  }

  pre {
    white-space: pre-wrap;
  }
}
