.nbLabel {
  font-weight: 700;
}

.nbButton, .toggleButton {
  display: inline-block;
  border-radius: 4px;
  padding: 5px;
  margin: 2px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.toggleButton {
  &.pressed {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.newBoardVersion {
  font-size: 13pt;
  padding: 5px;
}

.nbTheme {
  white-space: nowrap;
  padding-top: 9px;
}

.newBoardThemePreview {
  display: inline-block;
  margin-right: 0.5em;
}

.newBoardTheme {
  display: inline-block;
}
.newBoardThemeInner {
  display: table-cell;
  vertical-align: middle;
  height: 68px;
}

.nbCreate {
  float: right;
}
