.properties {
  max-width: 200px;
}

.propertiesPadded {
  padding: 4px;
}

.propertiesEmptyText {
  height: 35px;
  line-height: 35px;
  font-size: 10pt;
  color: #39221C;
  font-style: italic;
  text-align: center;
}

.coordLabel {
  vertical-align: middle;
}

.coordInput {
  width: 64px;
  font-size: 11pt;
  border: 1px solid #777777;
  border-radius: 1px;
  padding: 0 2px;
  margin: 0 5px;
  color: #222222;
  background-color: #DDDDDD;
  vertical-align: middle;
}

.spaceToggleContainer {
  display: inline-block;
  font-size: 0; // Prevent extra height on buttons
  margin: 3px 0;
}

.spaceToggleButton {
  display: inline-block;
  margin: 1px;
  padding: 2px;
  text-align: center;
  border-radius: 2px;

  &.selected {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:hover:not(.selected) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.starCheckbox {
  font-size: 10pt;
  margin-top: 2px;

  input {
    vertical-align: middle;
  }
}

$propertySectionHeight: 14px;

.propertySectionTitle {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
  padding: 2px 2px;
  font-size: 10pt;
  font-weight: bold;
  line-height: $propertySectionHeight;
  display: block;
}

.eventEntry {
  font-size: 10pt;
  padding: 1px 3px;
  cursor: default;
  border: 1px solid #514745;
  border-radius: 2px;
  background-color: #816A66;
  box-shadow: 0 0px 1px #555555;
  overflow: hidden;

  &:not(:first-child) {
    margin: 2px 0;
  }

  &:hover {
    border-color: #3d3230;
  }
}

.eventEntryHeader {
  display: flex;
  align-items: center;
}

.eventAddSelectEntry {
  font-size: 10pt;
  margin-top: 3px;
}

.eventEntryName {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventEntryOptions {
  margin: 2px 0;
}

.eventEntryItem {
  display: flex;
  align-items: center;
  border: 1px solid #605654;
  border-radius: 2px;
  font-size: 9pt;
}

.eventEntryActivationTypeItem {
  cursor: pointer;

  &:hover {
    border-color: #4a3d3a;
    background-color: rgb(148, 125, 121);
  }
}

.eventEntryActivationTypeToggle {
  width: 16px;
  height: 10px;
  margin-left: 2px;
  margin-right: 3px;

  &:hover {
    cursor: pointer;
  }
}

.eventEntryDelete {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;

  &:hover {
    font-weight: bold;
    color: #AA0000;
    cursor: pointer;
  }
}

.eventAddSelect {
  width: 100%;
}

.propertiesActionButton {
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.propertiesActionButtonImg {
  display: inline-block;
  margin: 2px;
  margin-right: 0.25em;
  vertical-align: middle;
  border-radius: 2px;
}

.propertiesActionButtonSpan {
  font-size: 10pt;
  line-height: 24px;
  vertical-align: middle;
}

.animBGEntryDelete {
  width: 16px;
  height: 16px;
  line-height: 26px;
  margin-right: 0.25em;
  text-align: center;
  float: right;

  &:hover {
    font-weight: bold;
    color: #AA0000;
    cursor: pointer;
  }
}

.animPlayBtn {
  height: $propertySectionHeight;
  line-height: 11px;
  width: 16px;
  float: right;
  font-family: "Arial";

  &:hover {
    font-weight: bold;
    color: #0000AA;
    cursor: pointer;
  }
}
