$bgColor: #DCE4BA;
$borderColor: #DCC241;

.mpEditor {
  font-size: 14px;
  width: 310px;
  border: 1px solid $borderColor;
  border-radius: 2px;
  color: #200E71;
  background-color: $bgColor;
  padding: 5px;
}

.mpEditor.mpDisplay {
  width: auto;
  border: none;
  background-color: transparent;
  padding: 0 0 2px 0;
}

.mpEditorToolbar {
  //height: 24px;
}

.mpEditorToolbarButton {
  display: inline-block;
  max-height: 12px;
  position: relative;
  padding: 3px;
  margin: 0 1px;
  border-radius: 2px;
  text-align: center;

  img {
    vertical-align: top;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.mpEditorToolbarSubmenuExp {
  position: absolute;
  display: inline-flex;
  top: 16px;
  left: 0;
  background-color: $bgColor;
  // border: 1px solid $borderColor;
  border-radius: 2px;
  box-shadow: 0 1px 2px #222222;
  outline: none;
  z-index: 2;
}

.mpEditorToolbarSeparator {
  display: inline-block;
  height: 14px;
  width: 0px;
  margin: 0 2px;
  background-color: #AAAAAA;
}

.mpEditor.mpEditorShowToolbarTop {
  .mpEditorWrapper {
    border-top: 1px solid #999999;
    padding-top: 4px;
  }
}

.mpEditor.mpEditorShowToolbarBottom {
  .mpEditorWrapper {
    border-bottom: 1px solid #999999;
    padding-bottom: 4px;
  }
}

.mpImageTextWrapper, .mpImageTextWrapper span {
  color: transparent !important;
}

.mpImage {
  display: inline-block;
  width: 14px;
  background-repeat: no-repeat;
  background-position: center;

  &::selection, ::selection {
    color: transparent;
    background-color: rgba(76, 103, 154, 0.8);
  }
  &::-moz-selection, ::-moz-selection {
    color: transparent;
    background-color: rgba(76, 103, 154, 0.8);
  }
}
.mpImageKey-A {
  background-image: url("../img/richtext/A.png");
}
.mpImageKey-B {
  background-image: url("../img/richtext/B.png");
}
.mpImageKey-S {
  background-image: url("../img/richtext/S.png");
}
.mpImageKey-Z {
  background-image: url("../img/richtext/Z.png");
}
.mpImageKey-CUP {
  background-image: url("../img/richtext/Cup.png");
}
.mpImageKey-CDOWN {
  background-image: url("../img/richtext/Cdown.png");
}
.mpImageKey-CLEFT {
  background-image: url("../img/richtext/Cleft.png");
}
.mpImageKey-CRIGHT {
  background-image: url("../img/richtext/Cright.png");
}
.mpImageKey-R {
  background-image: url("../img/richtext/R.png");
}
.mpImageKey-ANALOG {
  background-image: url("../img/richtext/analog.png");
}
.mpImageKey-COIN {
  background-image: url("../img/richtext/coin.png");
}
.mpImageKey-STAR {
  background-image: url("../img/richtext/star.png");
}
.mpImageKey-PAUSE {
  background-image: url("../img/richtext/pause.png");
}
.mpImageKey-FEED {
  background-image: url("../img/richtext/feed.png");
  width: 22px;
}
