.toolWindow {
  position: absolute;
  background-color: #755E59;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px #222222;
  min-width: 200px;
}

.toolWindowName {
  background-color: rgba(0, 0, 0, 0.5);
  color: #958883;
  cursor: default;
  padding: 3px 2px;
  font-size: 11pt;
  font-weight: bold;
  line-height: 16px;

  .moving & {
    cursor: move;
  }
}

.toolWindowCloseBtn {
  height: 16px;
  width: 16px;
  color: #958883;
  float: right;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #afa29d;
  }
}
