out/
node_modules/

dist/js/*
!dist/js/app.min.js

dist/css/*
!dist/css/app.min.css

# TypeScript generated
js/adapter/boarddef.js
js/adapter/boardinfo.js
js/adapter/eventlist.js
js/adapter/eventtable.js
js/components/codemirrorwrapper.js
js/events/customevents.js
js/events/events.js
js/fs/animationfs.js
js/fs/audio.js
js/fs/hvqfs.js
js/fs/mainfs.js
js/fs/scenes.js
js/fs/strings.js
js/fs/strings3.js
js/models/FORM.js
js/models/MTNX.js
js/patches/gameshark/compiler.js
js/patches/gameshark/hook.MP1.U.js
js/patches/gameshark/hook.MP2.U.js
js/patches/gameshark/hook.MP3.U.js
js/patches/gameshark/hook.js
js/patches/gameshark/parser.js
js/patches/PatchBase.js
js/symbols/symbols.js
js/utils/img/BMP.js
js/utils/img/Grayscale.js
js/utils/img/HVQ.js
js/utils/img/BMP.js
js/utils/img/ImgPack.js
js/utils/img/RGBA32.js
js/utils/img/RGBA5551.js
js/utils/img/tiler.js
js/utils/lib/mp-mips-autocomplete.js
js/utils/lib/mp-mips-codemirror.js
js/utils/CIC.js
js/utils/compression.js
js/utils/dump.js
js/utils/localstorage.js
js/utils/MIPS.js
js/utils/utils.js
js/about.js
js/boards.js
js/controls.js
js/gameshark.js
js/images.js
js/patches.js
js/romhandler.js
js/spaces.js
js/settings.js
js/texteditor.js
js/types.js
