#aboutForm {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 400px;
  padding: 1em;
}
#aboutForm, #aboutForm a {
  color: white;
}

.aboutHeader {
  text-align: center;
}

.aboutVersion {
  font-family: monospace;
}

.aboutText {
  font-size: 13pt;
}

.aboutTextLabel {
  font-weight: bold;
}

.aboutText ul {
  padding-left: 1em;
}
.aboutText li {
  margin: 0.3em 0;
}

.aboutShirt {
  text-align: center;
  display: inline-block;
}

.aboutShirtImg {
  height: 60px;
  margin-right: 0.75em;
  margin-bottom: 5px;
  vertical-align: middle;
}

.aboutShirtText {
  display: inline-block;
  text-decoration: underline;
  font-size: 15pt;
}

.aboutDisclaimer {
  font-size: 9pt;
  opacity: 0.4;
}
