.aiEditor {
  padding: 2px;
  min-width: 300px;
  max-height: 300px;
  overflow: auto;
}

.aiTreeNode {
  padding: 2px;
  margin: 2px 0;
  background-color: #816a66;
  border: 1px solid #605654;
  border-radius: 2px;
  border-left-width: 4px;
  border-left-color: rgba(0, 0, 0, 0.4);

  &:hover {
    border-left-color: rgba(0, 0, 0, 0.7);
  }
}

.aiNodeCondition {
  font-size: 10pt;
  cursor: default;
}

.aiNodeDecision {
  font-size: 9pt;
  cursor: default;
  font-weight: bold;
}

.aiNodeDifficulty {
  font-size: 9pt;
  cursor: default;
}
