.audioViewContainer {
  margin: 0 auto;
  max-width: 600px;
  padding: 1em;
  color: white;
}

.audioViewHeaderIcon {
  vertical-align: bottom;
}

.audioViewTable {
  width: 100%;

  th {
    text-align: left;
  }
}

.audioTableRow {
  img {
    padding: 4px;
    cursor: pointer;
    opacity: 0.6;
    vertical-align: top;
    flex-grow: 0;

    &.audioRowIconNoAction {
      opacity: 0.2;
      cursor: default;
    }

    &:not(.audioRowIconNoAction):hover {
      opacity: 1;
    }
  }

  td {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.audioTableExpandedContent {
  padding: 2px 5px 2px 5px;
}

.audioTableExpandedLabel {
  margin-left: 0.5em;
}

.audioTableSmallEditIcon {
  margin-left: 0.25em;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.audioViewTableIconColumn {
  width: 32px;
}

.btnAudioExport {
  white-space: nowrap;
  margin: 1px;

  background-color: rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.45);
  }

  img {
    vertical-align: middle;
    margin-right: 0.25em;
  }
}

.audioIndexBesideName {
  opacity: 0.5;
}