.basicCodeViewContainer {
  margin: 0 auto;
  max-width: 775px;
  height: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
    flex-shrink: 0;
  }
}

.basiccodemirror {
  width: 640px;
  height: calc(100% - 100px);

  .CodeMirror {
    height: 100%;
  }
}

.editorSettingsSplit {
  flex: 1 1;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 965px) {
  .editorSettingsSplit {
    flex-direction: column;

    > div:first-child {
      height: 500px;
    }
  }
}
