.loading {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.75);

  button {
    margin: 0 0.25em;
  }
}

.loadingLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -25px;
}

.loadingMsg {
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: 50px;
  width: 80%;
  text-align: center;
  overflow: auto;
  max-height: 45%;
}

.loadingMsgTxt, .loadingMsgTxt a {
  font-size: 16pt;
  color: white;
  margin-bottom: 0.5em;
  white-space: pre;
}

.loadingGif {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  margin-top: 50px;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: center left;
  animation-name: swing;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.loadingEscapeBackDoor {
  height: 10px;
  width: 10px;
  bottom: 0;
  left: 0;
  position: fixed;
}

.blockerPromptInput {
  max-width: 50%;
  min-width: 100px;
}
