.createEventViewContainer {
  height: calc(100% - 40px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

  label {
    color: white;
  }
}

$codeMirrorWidth: 640px;
$codeMirrorWidthBigger: 900px;
$codeMirrorBackground: #f3ece8;
$codeMirrorReadonlyBackground: #d1ccc9;

.eventcodemirror {
  // border: 1px solid rgb(51, 43, 39);
  border-radius: 3px;
  overflow: hidden;

  .CodeMirror {
    height: 100%;
    background-color: $codeMirrorBackground;
    font-family: Consolas, monospace;
    font-size: 12pt;
  }

  .CodeMirror-focused {
    box-shadow: 0 0 1em 0.3em black;
  }

  .cm-keyword.cm-nop {
    opacity: 0.6; // Fade out NOPs
  }
}

.eventcodemirror.CodeMirror-readonly {
  .CodeMirror {
    background-color: $codeMirrorReadonlyBackground;
  }
}

.createeventcodemirror {
  width: $codeMirrorWidth;
  height: 100%;
}

.createEventForm {
  width: 260px;
  padding: 0 1em;

  &, * {
    color: white;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input {
    color: black;
    width: 100%;
    box-sizing: border-box;
  }

  .toggleButton.pressed {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.createEventGameToggles {
  .toggleButton {
    min-width: 70px;
  }
}

.eventParametersList {
  max-width: 100%;

  table {
    max-width: 100%;
    width: 100%;
  }
}

.eventParameterEntry {
  display: flex;
}

.eventParameterEntryType {
  width: 90px;
}

.eventParameterEntryName {
  flex: 1;
  font-family: "Courier New", Courier, monospace;
  line-height: 22px;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventParameterEntryDelete {
  width: 30px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.eventParameterAddNewEntry {
  display: flex;
  font-size: smaller;

  select {
    flex-shrink: 0;
    color: initial;
    width: 90px;

    option {
      color: initial;
    }
  }

  input {
    flex: 1;
    min-width: 50px;
    color: initial;
    font-family: "Courier New", Courier, monospace;
  }

  button {
    color: initial;
    width: 22px;
    min-width: 16px;
  }
}

.createEventDropdownContainer {
  min-width: 140px;
}

.createEventTabStrip {
  width: $codeMirrorWidth;
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.createEventTabStripContent {
  flex: 1;
  min-height: 0;
}

.createEventTabStripTabs {
  height: 40px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 0.5em;
}

.createEventTabStripTab {
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #B59C95;
  padding: 0 0.5em;
  padding-top: 0.55em;
  margin: 0 0.15em;
  min-width: 120px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #D0B6AF;
  }

  &.activeTab {
    font-weight: bold;
    background-color: $codeMirrorBackground;
    cursor: default;
    border-top-width: 3px;
    padding-top: 0.45em;
  }
}

@media (max-width: 965px) {
  .createeventcodemirror {
    height: 500px;
    width: 100%;

    .CodeMirror {
      height: 500px;
    }
  }

  .createEventTabStrip {
    height: 545px;
    width: 100%;
  }

  .createEventForm {
    margin-top: 1em;
    padding: 0;
    width: 610px;
  }
}

@media (min-width: 1800px) {
  .createeventcodemirror {
    width: $codeMirrorWidthBigger;
  }

  .createEventTabStrip {
    width: $codeMirrorWidthBigger;
  }
}
