#debugView {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 500px;
  padding: 1em;

  :not(input) {
    color: var(--text-color);
  }

  .nbButton {
    background-color: rgba(0, 0, 0, 0.1);
  }

  input.dbInputShort {
    width: 7em;
    color: initial;
  }

  .dbMonospace {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
  }
}
