#detailsForm {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 665px;
  padding: 1em;

  .detailsSpan,
  label,
  h2,
  td,
  .toggleButton {
    color: var(--text-color);
  }

  .toggleButton {
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &.pressed {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.detailTextContainer,
.detailImgContainer,
.detailRichTextContainer,
.audioDetailsContainer,
.difficultyDetailsContainer,
.boardStatsContainer {
  display: inline-block;
  margin: 5px 10px 5px 0;
  vertical-align: top;
}

.audioDetailsContainer,
.difficultyDetailsContainer {
  min-height: 70px;
}

.audioDetailsContainer {
  width: 100%;
  max-width: 638px;
}

.boardStatsContainer {
  width: 100%;
}

#detailsForm h2 {
  margin-bottom: 0;
}

#detailsForm label {
  display: block;
  max-width: 100%;
  margin: 10px 0 5px 0;
  font-weight: 700;
}

#detailsForm .audioDetailsContainer label {
  display: inline;
}

// Is this unused (replaced by MP text editor?)
#detailsForm input[type="text"],
#detailsForm textarea {
  font-size: 14px;
  border: 1px solid #777777;
  border-radius: 2px;
  padding: 5px;
  color: #222222;
  background-color: #dddddd;
}

#detailBoardName {
  width: 200px;
}

#detailBoardDesc {
  width: 500px;
}

#detailsForm input[type="text"] {
  height: 20px;
}

#detailsForm input[type="radio"] {
  margin-right: 0.3em;
  accent-color: var(--accent-color);

  &:not(:first-child) {
    margin-left: 1.5em;
  }
}

.detailImgSelect {
  position: relative;
}

.detailImg {
  background-image: url("../img/transparency.png");
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
}

.detailImgHoverCover {
  height: 100%;
  width: 100%;
}

.detailImgHoverCover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  /*padding-top: 50%;*/
  text-align: center;
  font-weight: bold;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity linear 0.1s;
}
.detailImgHoverCover:hover {
  opacity: 1;
}

.detailImgHoverCoverSize {
  font-size: smaller;
  font-weight: normal;
}

.audioSelect {
  width: 255px;
}

.difficultyDetailsLevel {
  display: inline-block;
  width: 26px;
  height: 25px;
  background-image: url("../img/details/star_empty.png");
  background-repeat: no-repeat;
}
.difficultyDetailsLevel.difficultyLevelCurrent {
  background-image: url("../img/details/star.png");
}
.difficultyDetailsLevels:hover .difficultyDetailsLevel {
  background-image: url("../img/details/star_hover.png");
}
.difficultyDetailsLevels:hover .difficultyLevelFocused {
  background-image: url("../img/details/star_hover_dark.png");
}

.detailsAudioHeader {
  display: inline-block;
}

.audioSelectConfigButton {
  height: 24px;
  width: 24px;
  opacity: 0.5;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.5em;
  margin-bottom: 5px;
  vertical-align: middle;

  &:hover {
    opacity: 1;
  }

  img {
    height: 24px;
    width: 24px;
  }
}

.audioDetailsRadioGroup {
  margin: 0.5em 0 1em 0;
}

.audioCustomEntry {
  background-color: var(--details-audio-entry-bg-color);
  border: 1px solid var(--details-audio-entry-bg-color);
  border-radius: 5px;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5em;
  width: 100%;
}

.audioCustomIcon {
  margin-right: 0.5em;
  flex-shrink: 0;
}

.audioCustomIconAudio {
  opacity: 0.8;
}

.audioCustomIconDelete {
  cursor: pointer;
  opacity: 0.5;
  margin-left: 0.5em;

  &:hover {
    opacity: 1;
  }
}

.audioCustomTextSections {
  flex: 1;
}

.audioCustomSection {
  margin: 0.5em 0;
}

.audioDetailsSmallEditIcon {
  margin-left: 0.25em;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.boardStatsContainer table {
  border-spacing: 2px;
  table-layout: fixed;
  width: 100%;
  max-width: 550px;
}

.boardStatsSpaceImage {
  height: 24px;
  width: 24px;
}

.boardStatsImageCell {
  text-align: center;
}

.boardStatsCountCell {
  text-align: center;
}

@media (min-width: 1800px) {
  #detailsForm {
    max-width: 1000px;
  }
}
