.eventsViewContainer {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
  color: var(--text-color);
}

.eventsViewHeaderIcon {
  vertical-align: bottom;
}

.eventsViewTable {
  width: 100%;
}

.eventTableRow {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;

  img {
    padding: 4px;
    cursor: pointer;
    opacity: 0.6;
    vertical-align: top;
    flex-grow: 0;

    &.eventRowIconNoAction {
      opacity: 0.2;
      cursor: default;
    }

    &:not(.eventRowIconNoAction):hover {
      opacity: 1;
    }
  }

  &:hover {
    > div {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.eventTableIconCell {
  width: 32px;
  padding: 3px 0;
}

.eventEditCellIcon {
  padding-left: 0.25em;
  visibility: hidden;
}

.eventNameTableCell:hover {
  cursor: pointer;

  .eventNameText {
    text-decoration: underline;
  }

  .eventEditCellIcon {
    visibility: visible;
    opacity: 1;
  }
}

.eventNameTableCell {
  flex: 1;
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0;
  padding-left: 0.5em;
}

.eventNameText {
  font-size: 13pt;
}

.eventNameExtensionText {
  opacity: 0.5;
}
