$header-height: 48px;
$sidebar-width: 225px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.body {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #46342f; // #39221C; // Default color before React replaces content.
}

.header {
  height: $header-height;
  min-height: $header-height;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  flex: 0;
  background-color: #B59C95;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

.content {
  height: 100%;
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
}

.sidebar {
  height: 100%;
  width: $sidebar-width;
  max-width: $sidebar-width;
  min-width: $sidebar-width;
  flex: 0;
  flex-shrink: 0;
  background-color: #5A4540;
  vertical-align: top;
}

.boardMenu {
  height: 100%;
  overflow: hidden;
}

.properties {
  height: 50%;
  box-sizing: border-box;
  border-top: 1px solid #4A3530;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  background-color: #46342f;
}
.main:first-child { // No sidebar
  width: 100%;
}

.mainOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  &:not(.moving) {
    pointer-events: none;
  }

  > div {
    pointer-events: all;
  }
}

.editor {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
}

canvas:focus {
  outline: none;
}

.editor_bg, .editor_line_canvas, .editor_current_space_canvas, .editor_space_canvas, .editor_menu_overlay {
  position: absolute;
  left: 0;
  top: 0;
}

.editor_bg {
  background-color: #000000;
  box-shadow: 0px 0px 30px -8px #000000;
}

.editor_space_canvas:active {
  cursor: default;
}
.eraser .editor_space_canvas {
  cursor: url("../img/editor/eraser.cur"), default;
}

.details {
  display: none;
}

#dragZone {
  display: none;
  position: fixed;
  left: 275px;
  top: 45%;
  height: 150px;
  width: 150px;
  background: url("../img/toolbar/delete.png") no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  border: 10px solid rgba(0, 0, 0, 0.7);
  border-radius: 50px;

  &.hover {
    background-color: rgba(100, 0, 0, 0.4);
    border: 10px solid rgba(100, 0, 0, 0.7);
  }
}

.errorDiv {
  color: white;
  padding: 1em;
  max-width: 100%;
  overflow: auto;

  a {
    color: white;
  }

  pre {
    white-space: pre-wrap;
  }

  .errorStrikeoutText {
    text-decoration: line-through;
  }
}
