.rcMenu {
  display: block;
  position: absolute;
  background-color: #997A73;
  border-radius: 2px;
  box-shadow: 0 1px 2px #333333;
  font-size: 12px;
  padding: 3px;
  width: 130px;
}

.rcMenu span {
  vertical-align: middle;
}

.rcMenu input {
  width: 38px;
  font-size: 10px;
  border: 1px solid #777777;
  border-radius: 1px;
  padding: 2px;
  margin: 0 3px;
  color: #222222;
  background-color: #DDDDDD;
  vertical-align: middle;
}

.rcSpaceToggleContainer {
  display: inline-block;
  font-size: 0; // Prevent extra height on buttons
  margin: 3px 0;
  max-width: 130px;
}

.rcSpaceToggleButton {
  display: inline-block;
  margin: 1px;
  padding: 2px;
  text-align: center;
  border-radius: 2px;

  &.selected {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:hover:not(.selected) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}