.modelViewerContainer {
  height: 100%;
  width: 100%;
}

.modelRenderContainer {
  height: calc(100% - 50px);
  width: 100%;
  position: relative;
}

.modelViewerToolbar {
  height: 45px;
  width: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.modelSelectContainer {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
  white-space: nowrap;
}

.modelSelectContainer select {
  vertical-align: middle;
  margin: 1px 0.5em;
  color: initial;
}

.modelViewerToolbarSpacer {
  flex-grow: 1;
}

.colorSwatch {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #444444;
  border-radius: 1px;
  cursor: pointer;
}

.modelViewerColorPicker {
  white-space: nowrap;
}

.modelViewerColorPicker .toggleButton {
  max-height: 24px;
}

.modelFeatureSelectContainer {
  white-space: nowrap;

  label {
    margin: 0 0.5em;
  }

  input {
    margin-right: 0.25em;
  }
}

.btnModelExport {
  white-space: nowrap;

  background-color: rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: rgba(0, 0, 0, 0.45);
  }

  img {
    vertical-align: middle;
    margin-right: 0.25em;
  }
}
