#patchesView {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 400px;
  padding: 1em;
}
#patchesView, #patchesView a {
  color: var(--text-color);
}

.patchEntry {
  display: block;
  margin: 10px 0;
  word-wrap: none;
}

.patchBtn, .patchText {
  display: inline-block;
  vertical-align: middle;
}

.patchBtn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 4px 10px;
  margin-right: 0.5em;
  border: none;
  min-width: 60px; // i18n?
}

.patchDesc {
  font-size: 9pt;
  color: rgba(255, 255, 255, 0.95);
}

#gamesharkView {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 400px;
  padding: 1em;
}

#gamesharkView textarea {
  width: 100%;
}

#gamesharkView button {
  display: block;
  margin-top: 0.5em;
}

#gamesharkView :not(textarea) {
  color: white;
}

.gsApplied {
  font-style: italic;
}
