.properties {
  max-width: 200px;
  color: var(--tool-window-text-color);
}

.propertiesPadded {
  padding: 4px;
}

.propertiesEmptyText {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  padding: 11px 5px;
  box-sizing: border-box;
  font-size: 10pt;
  color: var(--properties-empty-text-color);
  font-style: italic;
  text-align: center;
}

.spaceCoordRow {
  margin-bottom: 2px;
}

.coordLabel {
  vertical-align: middle;
}

.coordInput {
  width: 64px;
  font-size: 11pt;
  border: 1px solid #777777;
  border-radius: 1px;
  padding: 0 2px;
  margin: 0 5px;
  color: #222222;
  background-color: #DDDDDD;
  vertical-align: middle;
}

.spaceToggleContainer {
  display: inline-block;
  font-size: 0; // Prevent extra height on buttons
  margin: 3px 0;
}

.spaceToggleButton {
  display: inline-block;
  margin: 1px;
  padding: 2px;
  text-align: center;
  border-radius: 2px;

  &.selected {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:hover:not(.selected) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.starCheckbox {
  font-size: 10pt;
  margin-top: 2px;

  input {
    vertical-align: middle;
  }
}

$propertySectionHeight: 14px;

.propertySectionTitle {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--tool-window-text-color);
  cursor: default;
  padding: 2px 2px;
  font-size: 10pt;
  font-weight: bold;
  line-height: $propertySectionHeight;
  display: block;
}

.eventEntry {
  font-size: 10pt;
  padding: 1px 3px;
  cursor: default;
  background-color: var(--event-entry-bg-color);
  color: var(--event-entry-text-color);
  border: 1px solid var(--event-entry-border-color);
  border-radius: 2px;
  box-shadow: 0 0px 1px var(--event-entry-shadow-color);
  overflow: hidden;

  &:not(:first-child) {
    margin: 2px 0;
  }

  &:hover {
    border-color: var(--event-entry-hover-border-color);
  }
}

.eventEntryHeader {
  display: flex;
  align-items: center;
}

.eventsList {
  max-height: 300px;
  overflow: auto;
}

.eventAddSelectEntry {
  font-size: 10pt;
  margin-top: 3px;
}

.eventEntryName {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventEntryOptions {
  margin: 2px 0;
}

.eventEntryItem {
  display: flex;
  align-items: center;
  border: 1px solid var(--event-entry-item-border-color);
  border-radius: 2px;
  font-size: 9pt;
  margin-top: 2px;
  padding-left: 2px;
  cursor: pointer;

  > img {
    margin-right: 3px;
    flex-shrink: 0;
  }

  &:hover {
    background-color: var(--event-entry-item-hover-bg-color);
    border-color: var(--event-entry-item-hover-border-color);
    cursor: pointer;
  }
}

.eventEntryItem.eventEntryItemDraggable {
  &:hover {
    cursor: alias;
  }
}

.eventEntryActivationTypeToggle {
  width: 16px;
  height: 10px;
}

.eventParameterRightAlign {
  margin-left: auto;
}

.eventEntryDelete, .eventParameterDelete {
  background-image: var(--delete-list-img);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;

  &:hover {
    background-image: var(--delete-list-hover-img);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    cursor: pointer;
  }
}

.eventEntryDelete {
  width: 16px;
  height: 16px;
}

.eventParameterDelete {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.eventEntryItemParameterName {
  font-family: "Courier New", Courier, monospace;
  text-overflow: ellipsis;
  overflow: hidden;
}

.eventEntryItemParameterUnset {
  color: var(--event-entry-item-param-unset-text-color);
  font-style: italic;
}

.eventEntryItemParameterHypothetical {
  font-style: italic;
}

.eventEntryItemParameterSpaceSetWrapper {
  white-space: nowrap;
}

.eventEntryItemParameterColorSwatch {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 2px;
  margin-top: -2px;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.75);
}

.eventAddSelect {
  width: 100%;
}

.propertiesActionButton {
  display: flex;
  align-items: center;
  color: var(--tool-window-text-color);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.propertiesActionButtonImg {
  margin: 2px;
  margin-right: 0.25em;
  border-radius: 2px;
}

.propertiesActionButtonSpan {
  font-size: 10pt;
  line-height: 24px;
}

.propertiesActionButtonSpacer {
  flex: 1;
}

.propertiesActionButtonRightAlign {
  margin-left: auto;
}

.propertiesActionButtonEyeBtn {
  width: 16px;
  height: 16px;
  margin-right: 0.25em;
  background: var(--eye-img);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}
.propertiesActionButton:hover .propertiesActionButtonEyeBtn:not(.propertiesActionButtonEyeBtnShowing) {
  opacity: 0.4;
}
.propertiesActionButtonEyeBtnShowing,
.propertiesActionButton:hover .propertiesActionButtonEyeBtn:hover {
  opacity: 1;
}

.propertiesActionButtonDeleteBtn {
  width: 16px;
  height: 16px;
  margin-right: 0.25em;
  background-image: var(--delete-list-img);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;

  &:hover {
    background-image: var(--delete-list-hover-img);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    cursor: pointer;
  }
}

.bgListActionButton {
  height: $propertySectionHeight;
  line-height: 11px;
  width: 16px;
  float: right;
  font-family: "Arial";

  &:hover {
    font-weight: bold;
    color: var(--link-color);
    cursor: pointer;
  }
}

.propertiesAiTreeButton {
  padding: 2px;
  margin-top: 4px;
  margin-left: 0;
  font-size: 10pt;
  width: calc(100% - 5px);
}