.stringViewerContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 325px);
  grid-gap: 10px;
  align-items: start;
  justify-content: center;
  padding: 10px 0;
}
