:root,
:root.theme-classic {
  --bg-color: #46342f;

  --header-bg-color: #b59c95;
  --header-border-color: black;
  --header-text-color: black;

  --sidebar-bg-color: #5a4540;

  --accent-color: #5a4540;

  --text-color: white;
  --link-color: #001281;

  --board-card-bg-color: #ffffff;
  --board-card-shadow-color: #222222;
  --board-card-text-color: #222222;

  --context-menu-bg-color: #997a73;
  --context-menu-border-color: #745951;
  --context-menu-text-color: black;
  --context-menu-text-disabled-color: rgba(0, 0, 0, 0.7);
  --context-menu-shadow-color: #333333;

  --code-bg-color: #f3ece8;
  --code-readonly-bg-color: #d1ccc9;

  --code-tab-text-color: black;
  --code-tab-inactive-text-color: black;
  --code-tab-inactive-hover-text-color: black;
  --code-tab-bg-color: #b59c95;
  --code-tab-hover-bg-color: #d0b6af;

  --details-audio-entry-bg-color: #816a66;
  --details-audio-entry-border-color: #514745;

  --properties-empty-text-color: #39221c;
  --tool-window-bg-color: #755e59;
  --tool-window-border-color: #3a2f2c;
  --tool-window-shadow-color: #222222;
  --tool-window-text-color: black;
  --tool-window-title-text-color: #958883;

  --event-entry-bg-color: #816a66;
  --event-entry-border-color: #514745;
  --event-entry-hover-border-color: #3d3230;
  --event-entry-text-color: black;
  --event-entry-shadow-color: #555555;
  --event-entry-item-border-color: #605654;
  --event-entry-item-hover-bg-color: #947d79;
  --event-entry-item-hover-border-color: #4a3d3a;
  --event-entry-item-param-unset-text-color: #841617;

  --delete-list-img: url("../img/editor/icons/deletelist.png");
  --delete-list-hover-img: url("../img/editor/icons/deletelist_hover.png");
  --eye-img: url("../img/editor/boardproperties/eye.png");

  --mp-text-editor-separator-color: #aaaaaa;

  // These match the game, unlikely to need to change for other themes.
  --mp-text-light-bg-color: #dce4ba;
  --mp-text-light-border-color: #dcc241;
  --mp-text-light-text-color: #200e71;
  --mp-text-dark-bg-color: #6d7597;
  --mp-text-dark-border-color: #525f97;
  --mp-text-dark-text-color: #ffffff;

  --notification-text-color: white;
  --notification-color-red: #c7212a;
  --notification-color-green: #278532;
  --notification-color-blue: #395db2;
}

:root.theme-dark-gray {
  --bg-color: #282828;

  --header-bg-color: #535353;
  --header-border-color: #383838;
  --header-text-color: white;

  --sidebar-bg-color: #4a4a4a;

  --accent-color: #4a4a4a;

  --text-color: white;
  --link-color: #76bdff;

  --board-card-bg-color: #ffffff;
  --board-card-shadow-color: #161616;
  --board-card-text-color: #222222;

  --context-menu-bg-color: #535353;
  --context-menu-border-color: #383838;
  --context-menu-text-color: white;
  --context-menu-text-disabled-color: rgba(255, 255, 255, 0.7);
  --context-menu-shadow-color: #333333;

  --code-bg-color: #f3f3f3;
  --code-readonly-bg-color: #d1d1d1;

  --code-tab-text-color: black;
  --code-tab-inactive-text-color: #cccccc;
  --code-tab-inactive-hover-text-color: #222222;
  --code-tab-bg-color: #535353;
  --code-tab-hover-bg-color: #cccccc;

  --details-audio-entry-bg-color: #535353;
  --details-audio-entry-border-color: #383838;

  --properties-empty-text-color: #9e9e9e;
  --tool-window-bg-color: #535353;
  --tool-window-border-color: #373737;
  --tool-window-shadow-color: #161616;
  --tool-window-text-color: white;
  --tool-window-title-text-color: white;

  --event-entry-bg-color: #454545;
  --event-entry-border-color: #656565;
  --event-entry-hover-border-color: #919090;
  --event-entry-text-color: white;
  --event-entry-shadow-color: #555555;
  --event-entry-item-border-color: #5a5a5a;
  --event-entry-item-hover-bg-color: #646363;
  --event-entry-item-hover-border-color: #a0a0a0;
  --event-entry-item-param-unset-text-color: #9b3133;

  --delete-list-img: url("../img/editor/icons/deletelist-white.png");
  --delete-list-hover-img: url("../img/editor/icons/deletelist-white_hover.png");
  --eye-img: url("../img/editor/boardproperties/eye-white.png");
}
