.toolbar {
  max-width: 200px;
}

.toolbarReadonly {
  height: 35px;
  line-height: 35px;
  font-size: 10pt;
  color: var(--properties-empty-text-color);
  font-style: italic;
  text-align: center;
}

.toolbarButton, .toolbarGroup {
  display: inline-block;
  width: 42px;
  height: 42px;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;

  &.selected {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover:not(.selected) {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:focus.selected, &:focus:active {
    outline: none;
  }
  &:focus:not(.selected):not(:active) {
    outline: 1px dotted rgba(0, 0, 0, 0.75);
  }
}

.toolbarButton img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.toolbarSpacer {
  height: 12px;
}

.toolbarGroup {
  position: relative;
  max-height: 50px;
}

.toolbarGroupPanel {
  display: none;
  position: absolute;
  top: -52px;
  background-color: var(--context-menu-bg-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px var(--context-menu-shadow-color);
  clip: rect(auto, auto, auto, auto);
}
.toolbarGroup:hover .toolbarGroupPanel {
  display: inline-block;
}
